@font-face {
    font-family: 'neontubes';
    src: url("Neon-Font/Neon/neontubes-webfont.eot");
    src: url("Neon-Font/neontubes-webfont.eot") format("embedded-opentype");
    src: url("Neon-Font/neontubes-webfont.woff2") format("woff2");
    src: url("Neon-Font/neontubes-webfont.woff") format("woff");
    src: url("Neon-Font/neontubes-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #030c1c;
  }

  body::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #081b29;
    backdrop-filter: blur(5px);
    clip-path: polygon(86% 0, 100% 0, 100% 100%, 60% 100%);
}
   
  .me {
    margin: -1.6em;
	position: relative;
    color: white;
    font-size: 26px;
	text-decoration: none;
    margin-top: 3.35em;
    margin-left: 2.4em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 50vw;
            height: auto;
            font-family: "neontubes";
            font-size: 16vw;
            text-align: center;
            white-space: nowrap;
  }
  .me span {
    display: block;
    position: relative;
    -webkit-transform: translateZ(0) translate3D(0, 0, 0);
            transform: translateZ(0) translate3D(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    will-change: opacity;
  }
  .me .webdev {
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    -webkit-animation: blink 4s infinite alternate;
            animation: blink 4s infinite alternate;
  }
  .me .socod {
    font-size: 11vw;
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: buzz 0.11s infinite alternate;
            animation: buzz 0.11s infinite alternate;
  }
   
  @-webkit-keyframes buzz {
    70% {
      opacity: 0.80;
    }
  }
   
  @keyframes buzz {
    70% {
      opacity: 0.80;
    }
  }
  @-webkit-keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }
  @keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }
  @media screen and (min-width: 500px) {
    .me {
      width: 250px;
      font-size: 70px;
    }
   
    .me .socod {
      font-size: 53px;
    }
  }