html {
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*BACKGROUND WALLPAPER----------------------------------------------------------------*/
body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('Group/bg.jpg');
}


/*NAVIGATION TRANSPARENT BAR----------------------------------------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}


/*LOGO PROFILE------------------------------------------------------------------------*/
.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
}


/*NAVIGATION BAR----------------------------------------------------------------------*/
.navbar{
    color: black;
    position: absolute;
    top: 30px;
    right:60px;
    word-spacing: 2em;
    font-size: 20px;
}

.navbar a {
    font-size: 1.15rem;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    position: relative;
}

.navbar a::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0%;
    height: 3px;
    background: linear-gradient(to left, #636c72, #00abf0, #636c72);
    transition: 0.2s;
}

.navbar a:hover::after{
    width: 100%;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 1058px) {
    .icons {
       display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(10px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}


/*ANIMATION BACKGROUND STARS----------------------------------------------------------*/
.bubbles img{
	width: 40px;
	animation: bubble 7s linear infinite;
}

.bubbles{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	bottom: -70px;
}

@keyframes bubble{
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	70%{
		opacity: 1;
	}
	100%{
		transform: translateY(-92vh);
		opacity: 0;
	}
}

.bubbles img:nth-child(1){
	animation-delay: 2s;
}
.bubbles img:nth-child(2){
	animation-delay: 1s;
}
.bubbles img:nth-child(3){
	animation-delay: 3s;
}
.bubbles img:nth-child(4){
	animation-delay: 4s;
}
.bubbles img:nth-child(5){
	animation-delay: 3s;
}
.bubbles img:nth-child(6){
	animation-delay: 6s;
}
.bubbles img:nth-child(7){
	animation-delay: 7s;
}


/*TEXT WHITE BACKGROUND ---------------------------------------------------------------*/
.me1{
    font-size: 21px;
    margin-left: 2em;
    color: white;
	justify-content: space-between;
}
.me1 p{
    color: #fff;
    line-height: 1.5;
    position: relative;
}
.me1 .botton-box{
	display: flex;
	justify-content: space-between;
	width: 345px;
	height: 50px;
}

/*ANIMATION HIRE ME & LET'S TALK BUTTON------------------------------------------------*/
.botton-box a {
    margin-top: 2.0em;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background: #081b29;
	border: 2px solid #00abf0;
	border-radius: 8px;
	font-size: 19px;
	color: #00abf0;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 1;
	overflow: hidden;
	transition: .4s;
}

.botton-box a:hover(1) {
	color: #081b29;
}

.botton-box a:hover(2) {
	color: #081b29;
}

.botton-box a:nth-child(1) {
	background: transparent;
	color: #1DA1F2;
}

.botton-box a:nth-child(2) {
	background: transparent;
	color: #1DA1F2;
}

.botton-box a:nth-child(1):hover {
	color: #1DA1F2
}

.botton-box a:nth-child(2):hover {
	color: #1DA1F2
}

.botton-box a:nth-child(1):hover{
    color: #26a4f2;
    box-shadow: 0 0 25px #1DA1F2;
    text-shadow: 0 0 25px #1DA1F2;
}

.botton-box a:nth-child(2):hover{
    color: #26a4f2;
    box-shadow: 0 0 25px #1DA1F2;
    text-shadow: 0 0 25px #1DA1F2;
}

.botton-box a:nth-child(1):hover {
	color: #081b29
}

.botton-box a:nth-child(2):hover {
	color: #081b29
}

.botton-box a:nth-child(1):hover:before{
    box-shadow: 0 0 15px #1DA1F2;
}

.botton-box a:nth-child(2):hover:before{
    box-shadow: 0 0 15px #1DA1F2;
}

.botton-box a:nth-child(1)::before{
	background: #00abf0;
}

.botton-box a:nth-child(2)::before{
	background: #00abf0;
}

.botton-box a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: #00abf0;
	z-index: -1;
	transition: .4s;
}

.botton-box a:hover::before {
    width: 100%;
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
}


/*ANIMATION 3 SOCIAL LINKS FB'IG'EMAIL--------------------------------------------------*/
.Home-sci {
	position: relative;
	height: 100%;
	width: 160px;
	display: inline-flex;
	justify-content: space-between;
	margin-top: 3.5em;
    margin-left: 0em;
}

.Home-sci a {
	position: relative;
	display: inline-flex;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #00abf0;
	border-radius: 50%;
	font-size: 20px;
	color: #00abf0;
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
}

.Home-sci a::before {
	content: '';
	position: absolute;
	top: 0;
	left:0;
	width: 0%;
	height: 100%;
	background: #00abf0;
	z-index: -1;
	transition: .4s;
}

.Home-sci a:nth-child(1):before{
    background: #4267B2;
  }
.Home-sci a:nth-child(2):before{
    background: #1DA1F2;
  }
.Home-sci a:nth-child(3):before{
    background: #E1306C;
  }

.Home-sci a:hover::before {
	width: 100%;
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
}

.Home-sci a:nth-child(1):hover:before{
    box-shadow: 0 0 15px #4267B2;
}
.Home-sci a:nth-child(2):hover:before{
    box-shadow: 0 0 15px #1DA1F2;
}
.Home-sci a:nth-child(3):hover:before{
   box-shadow: 0 0 15px #E1306C;
}

.Home-sci a:nth-child(1):hover{
    color: #26a4f2;
    box-shadow: 0 0 15px #1DA1F2;
    text-shadow: 0 0 15px #1DA1F2;
}
.Home-sci a:nth-child(2):hover{
    color: #FFA500;
    box-shadow: 0 0 15px #FF5F1F;
    text-shadow: 0 0 15px #FF5F1F;
}
.Home-sci a:nth-child(3):hover{
    color: #e23670;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 15px #E1306C;
}

/* Home-scie a:hover{
  color: #ffa502;
  box-shadow: 0 0 15px #d35400;
  text-shadow: 0 0 15px #d35400;
} */


/* KEYFRAMES ANIMATION */
@keyframes showRight {
	100% {
		width:0;
	}
}
